{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "meteor",
    "react"
  ],
  "extends": [
    "airbnb/base",
    "plugin:meteor/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "arrow-parens": "off",
    "camelcase": "off",
    "class-methods-use-this": "off",
    "func-names": "off",
    "import/no-absolute-path": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/imports-first": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "linebreak-style": "off",
    "max-len": ["error", 120],
    "meteor/eventmap-params": [2, { "eventParamName": "event", "templateInstanceParamName": "instance" } ],
    "meteor/template-names": "off",
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": "off",
    "object-property-newline": "off",
    "object-shorthand": "off",
    "padded-blocks": "off",
    "indent": "off",
    "prefer-arrow-callback": "off",
    "prefer-destructuring": "off",
    "prefer-promise-reject-errors": "off"
  },
  "globals": {
    "Assets": true // Meteor disallows importing of Assets, see https://docs.meteor.com/api/assets.html
  }
}
